<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{css/global.css}"/>
    <link rel="stylesheet" th:href="@{css/form.css}"/>
    <title>Contacts | Sign In</title>
</head>
<body>
<section id="form-box">
    <form th:action="@{perform_login}" method="POST">
        <h1>Have an account?</h1>
        <label for="email">
            <input
                    type="text"
                    id="email"
                    name="username"
                    placeholder="Email"
                    required
            />
        </label>
        <label for="password">
            <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Password"
                    required
            />
        </label>
        <label for="submit">
            <input
                    class="submit btn-primary"
                    type="submit"
                    id="submit"
                    value="SIGN IN"
            />
        </label>
        <div th:if="${param.error}" class="alert alert-danger">
          <p>Invalid Username or Password.</p>
        </div>
    </form>

    <div id="form-extras">
        <!-- <label for="remember-me">
            <input type="checkbox" name="remember-me" id="remember-me"/>
            Remember Me
        </label> -->
        <!-- <a href="">Forgot Password</a> -->
    </div>
    <a th:href="@{sign_up}">Don't Have an Account? Sign Up.</a>
</section>
</body>
</html>
